<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<script>
			var app = new Vue({
			  data: {
			    show: true,
			    items:[
			      {
			    	label: 'apple'
			      },
			      {
			      	label:'banana'
			      }
			    ]
			  
			  }
			})
		</script>
		<!--控制隐藏-->
		<p v-if="isShow"></p> <!--不渲染dom元素-->
		<p v-show="isShow"></p> <!--通过css的display：none隐藏，代码中可以看到dom元素-->
		<!--渲染列表-->
		<ul>
			<li v-for="item in items">
				<p v-text="item.label"></p>
			</li>
		</ul>
		<!--事件绑定-->
		<button v-on:click="doThis"></button> <!--去methods中取-->
		<button @click="doThis"></button><!--简写-->
	属性
		<p :class="{red: isRed}"></p>
		<p :class="[classA, classB]"></p>
		<img v-bind:src=""/>
		App.vue组件  main.js引入组件用import App from 某某  再注册export default{components:{App}}成标签<app></app>,驼峰命名自动生成小写的,再引入到index.html中
		
	import = require('vue')
	export = module.export
	</body>
</html>
